# 设置淘宝镜像源
registry=https://registry.npmmirror.com/

# npm 客户端行为设置
save=true
save-exact=false
package-lock=true
fund=false
audit=false

# 性能优化
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

# 缓存设置
cache-min=10
prefer-offline=true

# pnpm 特定设置
node-linker=hoisted
prefer-frozen-lockfile=true
network-concurrency=8
child-concurrency=10
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
use-store-server=true
update-notifier=false

# 忽略脚本错误
ignore-scripts=false 